name: "doggo"

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: stanleynguyen/action-dogs@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}